
services:
  caddy:
    container_name: caddy
    image: caddy
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./caddy/caddy-config:/config
      - ./caddy/caddy-data:/data
      - ./caddy/caddyfile:/etc/caddy/Caddyfile
      - ./caddy/html:/usr/share/caddy

volumes:
  caddy-config:
  caddy-data:

